NEXT_PUBLIC_SUPABASE_URL=https://dwxhysznsgljkoitzcgd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR3eGh5c3puc2dsamtvaXR6Y2dkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTE0MzI5NjAsImV4cCI6MjAyNzAwODk2MH0.Hy_NQmHNF9feEywaYrC-w_J5jyBqABpkwvpwJ_k1qpY 